@font-face {
    font-family: MyriadProRegular;
    src: url('../fonts/MyriadPro-Regular.otf');
}

html{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

body, html{
    margin: 0;
    padding: 0;
}
/* HEADER STYLING - MOBILE*/
header{
    width: 100%;
    height: 34px;
    background-color: #bb9c40;
}

/* NAVBAR STYLING - MOBILE */
nav ul{
    list-style: none;
    padding:0;
    background: rgba(0,0,0,0.4);
}

nav ul li a{
    color:#ddd;
    text-decoration: none;
    padding: .8rem 1rem;
    display: block;
    line-height: 1;
}



nav ul li{
    border-bottom: 1px dotted #ddd;
}

nav div:first-child h1{
    line-height: 0;
    padding: .8rem 0rem;
    text-align: center;
}

nav div:first-child nav ul{
    margin:0;
}

/* wide screen */

@media only screen and (min-width: 768px){
    
    /* HEADER STYLING */
    header, header a{
        color: #ffffff;
        text-decoration: none;
        }
    .myDiv header .wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1080px;    
        height: 34px;
        background-color: #bb9c40;
        font-size: .75rem;
        font-family: "open sans"
        }
    
    .myDiv header .wrapper a {
        padding-right: .9rem;
     }
    
 header i:hover{
        color: #bb9c40;
    }
    
    
    /* NAVBAR STYLING*/
    
    nav .wrapper div{
        width: 186px;
        height: 61px;
        background-image: url('../img/logo111.png');
        background-repeat: no-repeat;
        background-position:center;
        }
    
    nav  .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1080px;
        margin: 0 auto;
        padding: 0rem;
    }
    
      .wrapper{
        width: 1080px;
        margin: 0 auto;
    }

    nav{
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-between;
        background: rgba(0,0,0,0.4);
        align-items: center;
        height: 5.4375rem;
        z-index: 10;
    }
    
    nav ul{
        display: flex;
        align-items: center;
        background:none;
        flex-wrap: wrap;
        margin-right: 1.85rem;
    }
    
    nav div:first-child h1{
        padding: 0;
        margin:0 1rem;
    }
    
    nav div:first-child img{
        height: 40px;
    }
    
    nav ul li{
        border-bottom:none;
        flex: 1 0 auto;
        padding-right: 0rem;
        position: relative;
    }
    
    nav ul li a{
        padding: 0rem 0.81rem;
        font-family: "Myriad Pro Regular";
        font-size: .875rem;
    } 
    
    nav ul li a:hover{
        color: #bb9c40;
    }
    
.active{
        color: #bb9c40;
    }    


    
    /* HEADER HIDING AFTER SCROLL */
    .myDiv{
        
    }
    
    .scrolled { 
        display: none;
    }
    
    /* SLIDER STYLING */
    
    .slider{
        display: flex;
        background-image: url('../img/slider1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        height: 686px;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        z-index: -100;
    }
    
    .slider .buttons{
        height: 686px;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .slider button{
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        border: none;
        font-size: 4rem;
        font-weight: 700;
        line-height: 0;
        width: 50px;
        margin: 0rem .5rem 0rem 0rem;
        text-shadow: .2rem .2rem 1rem #000000;
    }
    
    /* SECTION1 STYLING */
    .section1{
        display: flex;
        height: 327px;
        background-color: #3f3f3f;
    }
    .section1 .wrapper{
        display: flex;
    }
    
    .section1 ul {
        display: flex;
        list-style:  none;
        align-items: center;
        padding-left: 0px;
    }
    
    .section1 li{
        display: flex;
        flex-wrap: wrap;
        color: #ffffff;
        justify-content: center;
    }
    
    .section1  li:first-child{
        display: inline-block;
        font-size: 1.875rem;
        text-align:center;
        width: 875px;
        line-height: 2.3rem;
        padding-bottom: .8rem;
    }
    
    .section1  li:last-child{
        margin-left: 0rem;
        padding-left: 1.1rem;
        padding-bottom: .9rem;
    }    
   
    
    .section1 ul span{
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 4rem;
        color: #bb9c40;
        font-size: 4.375rem;
        width: 220px;
    }
    
    /* SECTION2 STYLING */
    .section2{
        display: flex;
        height: 582px;
    }
    
    .section2 .wrapper{
        display: flex;
        align-items:center;
        justify-content:space-between;
        color: #3f3f3f;
        padding: 100px;
        }

    .section2 ul:first-child{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        list-style: none;
        width: 800px;
        height: 366px;
        word-break: break-all;
        line-height: 125%;
        margin: 0;
        padding: 0;
        font-size: 0.9375rem;
        margin-top: 0rem;
    }
    
    .section2 ul:first-child li:nth-child(2){
        margin-bottom: rem;
        
    }
    
        .section2 ul:first-child li:nth-child(3){
        height: 110px;
    }
    
    .section2 ul:last-child{
        list-style-image: url('../img/dot.png');
        display: flex;
        width: 180px;
        flex-direction: column;
        align-content: center;
        line-height: 185%;
        margin-top: 4rem;
        margin-bottom: 0px;
        margin-right: 0rem;
        font-size: 0.75rem;
    }    
    
    .section2 h2{
        font-weight: 400;
        font-size: 1.875rem;
        line-height: 100%;
        margin-top: 0rem;
        margin-bottom: 1rem;
    }
    
    /* GALLERY STYLING */
    .gallery{
        display: flex;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    .gallery-item{
        
    }

    .gallery-item img {
        display: flex;
        max-height: 300px;
        max-width: 100%;
    }
    
    /* PRODUCT STYLING */
    .section4 {
        display: flex;
        background-image: url('../img/bg-1.jpg');
        background-position: center;
        height: 805px;
        justify-content: center;
        color: #ffffff;
        
    }
    
    .section4 .product .wrapper ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .section4 .product .wrapper ul li:nth-child(1){
    font-family: "open sans light";
    font-size: 2.75rem;
    margin-top: 238px;
    line-height: 2.1rem;
    letter-spacing: 4px;
    }
    
    .section4 .product .wrapper ul li:nth-child(2){
        font-family: "open sans light";
        font-size: 0.875rem;
    }
    
    .section4 .product .wrapper ul li:nth-child(3){
    margin-top: 50px;
        
    }
 
    
    /* LOGO SPACER STYLING */
    .logo-spacer{
        display: flex;
        background-image: url('../img/logo-spacer.jpg');
        background-repeat: no-repeat;
        background-position: center;
        height: 150px;
    }
    
    /* REFS STYLING */
    .refs{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        background-image: url('../img/bg-2.jpg');
        background-position: center;
        height: 415px;
        font-family: open sans light;
        font-size: 0.75rem;
        line-height: 120%;
        letter-spacing: 1px;
        word-break: break-all;
    }
    
    .refs ul{
        display: flex;
        width: 1080px;
        justify-content: center;
        align-items: center;
        justify-content:space-between;
        padding: 0;
    }
    
    .refs .wrapper li{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        width:225px;
        height: 249px;
        background-color: rgba(255,255,255,0.4);
        
    }
    
    .refs .wrapper li p{
        display: flex;
        margin: 0px 6px 0px 6px;
        padding: 0px 10px 30px 10px;
        line-height: 0.75rem;
        
    }
    
    .refs .wrapper li span{
        display: flex;
        margin-right: 0.625rem;
        font-weight: 700;
        padding-bottom: 1rem;
    }
    
    /* CONTACT STYLING */
    .contact{
        display: flex;
        background-color: #bb9c40;
        height: 341px;
        font-size: 1.875rem;
        color: #ffffff;
    }
    
    .contact .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 50px;
    }
    
    .contact .wrapper h2{
        display:  none;
    }
    
    button{
    border: 2px solid #ffffff;
    border-radius: 2px;
    width: 135px;
    height: 42px;
    background-color: Transparent;
    cursor: pointer;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
}
    
    /* FOOTER STYLING */
    footer{
        display: flex;
        height: 330px;
        
        justify-content:space-between;
        align-items: center;
        background-color: #333333;
        color: #ffffff;
        }
    
    footer .wrapper{
        display: flex;
        justify-content:space-between;
        align-items: flex-start;
        margin-top: 10px;
        }
    
    footer ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width:225px;
        margin: 0px;
        padding: 0px;
    }
    
    footer li{
        width: 100%;
        font-size: 0.875rem;
        padding: 0.5rem;
        line-height: 1.4rem;
    }
    
    footer ul li:first-child{
        color: #bc9c41;
        list-style: none;
    }
    
    footer ul:first-child li:nth-child(4){
        color: #bc9c41;
        }
    
    footer ul{
        list-style: none;
    }
    
    footer ul:nth-child(n+3) li:nth-child(n+2){
        background-image: url("../img/dot2.png");
        background-repeat: no-repeat;
        background-position: 5px 19px;
        padding-left: 15px;
        padding-right: 0px;
    }
    
    footer .wrapper ul li span{
        font-weight: bold;
    }
    
    .bottom-bar{
        display: flex;
        width: 100%;
        height: 52px;
        background-color: #1f1f1f;
    }
    .bottom-bar .wrapper{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1rem;
    }
    
    .bottom-bar .wrapper span{
        width: 165px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }
    
    .bottom-bar .wrapper a{
        color: #666666;
    }
    
    .bottom-bar .wrapper a:hover{
        color: #bb9c40;
    }
    
}   